{% extends 'base.html.twig' %}

{% block title %}Band index{% endblock %}

{% block body %}
    <h1>Bands</h1>

    <table class="sortable table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for band in bands %}
            <tr class="hover:bg-base-300">
                <td>{{ band.id }}</td>
                <td>{{ band.name }}</td>
                <td>{{ band.genre.value }}</td>
                <td>
                    <button class="btn btn-soft btn-primary">
                        <a href="{{ path('app_band_show', {'id': band.id}) }}">Show</a>
                    </button>
                    <button class="btn btn-soft btn-primary">
                        <a href="{{ path('app_band_edit', {'id': band.id}) }}">Edit</a>
                    </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-soft btn-primary">
        <a href="{{ path('app_band_new') }}">Create new</a>
    </button>
    <script src="{{ asset('sort/sorttable.js') }}"></script>
{% endblock %}
