<!DOCTYPE html>
<html data-theme="abyss">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="flex min-h-screen bg-base-100">
    <div class="w-64 bg-base-200 flex flex-col items-center space-y-6">
        <div class="drawer lg:drawer-open">
            <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
            <div class="drawer-content flex flex-col items-center justify-center">
                <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
                    Menu
                </label>
            </div>
            <div class="drawer-side">
                <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu bg-base-200 text-base-content min-h-full w-64 p-4">
                    <li>
                        <a href="{{ path('app_band_index') }}">Bands</a>
                    </li>
                    <li>
                        <a href="{{ path('app_festival_index') }}">Festivals</a>
                    </li>
                    <li>
                        <a href="{{ path('app_booking') }}">Bookings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex flex-col flex-1">
        <div class="navbar bg-base-300 px-4 shadow">
            <div class="flex-1">
                <span class="text-4xl font-bold text-base-content">ShowTime</span>
            </div>

            {% if app.user %}
                <div class="dropdown dropdown-end">
                    <button class="btn btn-circle bg-base-200 text-base-content font-bold" type="button">
                        {{ app.user.userIdentifier|first|upper }}
                    </button>
                    <ul
                        class="dropdown-content menu p-2 shadow-lg bg-base-200 rounded-box w-48 mt-3">
                        <li class="text-sm px-2 py-1 text-base-content/70">
                            {{ app.user.userIdentifier }}
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}" class="text-error hover:bg-error hover:text-white">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>


        <div class="p-8 space-y-6">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>


</body>
</html>
